body{
  font-family: 'Poppins', 'Roboto', sans-serif;
}
header{
  font-family: 'Oswald', 'Poppins', 'Roboto', sans-serif;
  text-align: center;
}
main{
  font-family: 'Poppins', 'Roboto', sans-serif;
  text-align: justify;
}
footer{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
