body{
  font-family: 'Poppins', 'Roboto', sans-serif;
}
header{
  font-family: 'Oswald', 'Poppins', 'Roboto', sans-serif;
  text-align: center;
}
main{
  font-family: 'Poppins', 'Roboto', sans-serif;
  text-align: left;
  font-size: 10px;
}
footer{
  font-family: 'Poppins', 'Roboto', sans-serif;
  text-align: center;
}
